.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .8);
}

.body {
  position: relative;  
  overflow: auto;
  width: 90%;
  max-width: 1200px;
  max-height: 90%;
  padding: 0 20px 60px;
  border: 1px solid #000;
  border-radius: 6px;
  background: #fff;
}

.xIcon {
  position: sticky;
  top: 20px;
  display: block;
  margin-left: auto;
  margin-bottom: 10px;
  border: none;
  background: none;
}

.closeButton {
  display: block;
  margin: 40px auto 0;
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: rgb(244, 67, 54);
  border: none;
  border-radius: 4px;
}

.title {
  margin-bottom: 20px;
}
